*{
    margin: 20;
    padding: 20;
    box-sizing: border-box;
    font-family: monospace;
    }
    
    
    body{
    background-color:#ffc8c8 ;
    height: 100vh;
    color:rgb(53, 53, 53);
    font-size:large;
    }
    
    ul {
    display: list-item;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
    color: rgb(11, 11, 11);
    }
    
    img {
    text-align: center;
    width: 150px;
    padding: 10px;
    }
    
    .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    }
    
    categoria-videos img {
    opacity: 0.5;
    height: 200px;
    }